<h1>URL Info</h1>

<table class="table">

	<tr><td>URL</td><td>{{ url.url }}</td></tr>
	<tr><td>First seen</td><td>{{ formatDate(url.date) }}</td></tr>
	<tr><td>Resolves to</td>
		<td>
			<span ng-show="url.country"><img src="img/flags/{{ url.country.toLowerCase() }}.png"> {{ url.countryname }} <a href="#/connections?country={{ url.country }}"><span class="glyphicon glyphicon-screenshot"></span></a></span><br>
			<span>{{ url.ip }} </span><br>
			<span ng-show="url.asn">AS{{ url.asn.asn }} <b>{{ url.asn.name }}</b>
				<a href="#/asn/{{ url.asn.asn }}"><span class="glyphicon glyphicon-screenshot"></span></a>
			</span><br>
		</td>
	</tr>
</table>

<h2>Domain VT Info</h2>
	<form ng-show="domainFound">
		<button type="submit" class="btn btn-default" ng-click="loadVTDomain(domain)">Reload Info</button>
	</form>
<table class="table" ng-show="!domainFound">
	
	<tr><td>Info from Domain <strong>{{ domain }}</strong> not found.</td></tr>
	<tr><td>
			<form>
				<button type="submit" class="btn btn-default" ng-click="loadVTDomain(domain)">Click here to load info from VT</button>
			</form>
		</td></tr>
	
</table>

<table class="table" ng-show="domainFound">
	<tr><td>Info from Domain <strong>{{ domain }}</strong></td><td>{{ domainReport.verbose_msg }}.</td></tr>
	<tr ng-if="domainReport.subdomains"><td>Subdomains</td><td>{{ domainReport.subdomains.toString() }}</td></tr>
	<tr ng-if="domainReport.domain_siblings"><td>Domain Siblins</td><td>{{ domainReport.domain_siblings.toString() }}</td></tr>
	<tr ng-if="domainReport.categories"><td>Categories</td><td>{{ domainReport.categories.toString() }}</td></tr>
	<tr ng-if="domainReport['Webutation domain info']"><td>Reputation</td><td>{{ domainReport["Webutation domain info"] }}</td></tr>
	<tr ng-if="domainReport.whois"><td>Whois</td><td>{{ domainReport.whois }}</td></tr>
	<tr ng-if="domainReport.detected_downloaded_samples"><td>Downloaded Samples</td><td>{{ domainReport.detected_downloaded_samples }}</td></tr>
	
</table>

<h2>Sample</h2>

<table class="table" ng-show="url.sample != null">

	<tr><td>First seen</td><td>{{ formatDate(url.sample.date) }}</td></tr>
	<tr><td>First seen file name</td><td>{{ url.sample.name }}</td></tr>
	<tr><td>File size</td><td>{{ url.sample.length }} Bytes</td></tr>
	<tr><td>SHA256</td><td><a href="{{ '#/sample/' + url.sample.sha256 }}">{{ url.sample.sha256 }}</a></td></tr>
	<tr><td>Virustotal result</td><td>{{ nicenull(url.sample.result, "Not Scanned yet") }}</td></tr>

</table>

<h2>Connections included this URL</h2>

<table class="table">

	<tr>
		<th>Date</th>
		<th>IP</th>
		<th>Username</th>
		<th>Password</th>
	</tr>
	<tr ng-repeat="connection in url.connections">
		<td><a href="{{ '#/connection/' + connection.id }}">{{ formatDate(connection.date) }}</a></td>
		<td>{{ connection.ip }}</td>
		<td>{{ connection.user }}</td>
		<td>{{ connection.pass }}</td>
	</tr>

</table>
